.slider {
  height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  overflow: hidden;

  .slide-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 20px;
    pointer-events: none;
    z-index: 222;

    .icon {
      width: 50px;
      height: 50px;
      background-color: var(--color-white);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      pointer-events: auto; /* Ensures the buttons can be clicked */
    }
  }

  // Responsive Adjustments
  @media (max-width: 1024px) {
    height: 50vh; // Adjust slider height for medium-sized screens
    .icons {
      top: 30%;
    }
  }

  @media (max-width: 768px) {
    height: 70vh; // Further reduce height for smaller tablets
    .slide-image {
      height: 100vh; // Reduce image height for mobile
    }
  }

  @media (max-width: 480px) {
    height: 100vh; // Adjust for mobile screens

    .slide-image {
      height: 100vh; // Reduce image height for mobile
    }

    .icons {
      top: 70%;
    }
  }
}
