.newArrivals {
  .top,
  .link-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link-btn {
    gap: 10px;
    text-decoration: none;
    color: black;

    p {
      font-weight: 500;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.3s ease;
    }

    .icon {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: var(--color-grey);
      display: flex;
      color: var(--color-black);
      align-items: center;
      justify-content: center;
      transition: var(--transition-1);
    }
  }

  .link-btn:hover p {
    border-bottom: 1px solid var(--color-black);
  }

  .link-btn:hover .icon {
    background-color: var(--color-dark-grey);
  }

  .swiper {
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;

    .icon {
      width: 50px;
      height: 35px;
      background-color: var(--color-dark-grey);
      color: var(--color-black);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      pointer-events: auto;
    }
  }
}
