.navbar {
  height: 70px;

  .link {
    transition: var(--transition-1);

    &:hover {
      color: var(--color-light-blue);
    }
  }

  .wrapper {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      font-family: var(--fw-family);
    }

    .left {
      display: none;
      align-items: center;
      gap: 2rem;
    }
    .center {
      .img-box {
        img {
          width: 120px;
        }
      }
    }
    .right {
      display: none;
      align-items: center;
      gap: 2rem;

      .icons {
        display: flex;
        gap: 1.5rem;
        color: var(--color-black);
        cursor: pointer;
      }
    }
  }

  @media (min-width: 962px) {
    .wrapper {
      .left,
      .right {
        display: flex;

        .icons {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .wrapper {
      .right {
        .icons {
          display: flex;
        }
      }

      .menu-icon {
        display: none;
      }
    }
  }
}
