.shopProducts {
  .container {
    .grid-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .card {
        .img-box {
          height: 300px;
        }
      }
    }
  }
}
