.funThings {
  .categories {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
    gap: 1rem;

    .fun-card {
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      // min-height: 200px;
      max-height: 400px;

      .img-box {
        transition: var(--transition-2);
        height: 100%;
      }

      .card-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--color-white);
        background-color: hsla(0, 0%, 22%, 0.2);
        text-decoration: none;

        .section-title {
          font-size: 2.4rem;
          font-weight: 800;
          font-style: italic;
          font-family: var(--fw-family);
          padding: 2rem;
        }
      }
    }

    .fun-card:hover {
      .img-box {
        transform: scale(1.1);
      }
    }
  }

  .fun-card:nth-child(1) {
    grid-area: one;
  }
  .fun-card:nth-child(2) {
    grid-area: two;
  }
  .fun-card:nth-child(3) {
    grid-area: three;
  }
  .fun-card:nth-child(4) {
    grid-area: four;
  }
  .fun-card:nth-child(5) {
    grid-area: five;
  }
  .fun-card:nth-child(6) {
    grid-area: six;
  }

  @media (min-width: 280px) {
    .categories {
      grid-template-areas:
        "one two"
        "three four"
        "five six";
    }
  }

  @media (min-width: 480px) {
    .categories {
      grid-template-areas:
        "one two"
        "three five"
        "four five"
        "six six";
    }
  }

  @media (min-width: 962px) {
    .categories {
      grid-template-areas:
        "one two three four"
        "one two five five"
        "six six six six";

      // .fun-card {
      //   min-height: 150px;
      //   max-height: 400px;
      // }

      .fun-card:nth-child(3) {
        max-height: 195px;
      }
      .fun-card:nth-child(4) {
        max-height: 195px;
      }
      .fun-card:nth-child(5) {
        max-height: 195px;
      }

      .fun-card:nth-child(6) {
        max-height: 250px;
      }
    }
  }
}
